<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css?v=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />

    <title>Currency Converter Application</title>
  </head>
  <body>
    <div class="d-flex flex-column align-items-center">
      <h1 class="currency_heading">Currency Converter Application</h1>
      <!-- <input
        type="text"
        name="ip_currency"
        class="ip_currency shadow-xl"
        placeholder="Enter Currency in USD"
      /> -->

      <div class="input-group mb-3 w-50">
        <input
          type="text"
          class="form-control ip_currency"
          aria-label="Text input with dropdown button"
        />
        <button
          class="from_currency_btn btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          From Currency
        </button>
        <ul
          class="from_currency_dropdown dropdown-menu dropdown-menu-end overflow-auto"
        ></ul>

        <button
          class="to_currency_btn btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          To Currency
        </button>
        <ul class="to_currency_dropdown dropdown-menu dropdown-menu-end"></ul>
      </div>

      <button type="submit" class="convert_btn shadow-xl">Convert</button>
      <h1 class="op_currency shadow-xl"></h1>
    </div>

    <script src="../static/scripts.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
